@charset "utf-8";
*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:"malgun gothic";
	box-sizing:border-box;
}
a{text-decoration:none;color:inherit;}
.clear{clear:both;}
#container{background-color:#fff;width:1000px;}

/*v2*/
#sidbar_2{width:150px;text-align:center;}
.class_1{
	line-height:2;
	border:1px solid #222;
	position:relative;
}
.class_1 .class_2{
	position:absolute;
	width:150px;
	left:149px;
	border:1px solid #222;
	background-color:#222;
	color:white;
	top:-1px;
	display:none;
}
.class_1:hover{
	background-color:#222;
	color:white;
}
.class_1 .class_2>li:hover{
	background-color:white;
	color:#222;
}