@charset "UTF-8";
*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:"malgun gothic";
	
}
a{
	text-decoration:none;
	color:inherit;
}
#menu{
    cursor:pointer;
    display: block;
    position: absolute;
}
span{ 
    display:block;
    width:35px;
    height:5px;
    background-color: black;
    margin:5px;
}
#sidbar_2{
	width:150px;
	text-align:center;
}
.class_1{
	line-height:2;
	border:1px solid #222;
	position:relative;
	display:none;
	background-color: rgba(177, 162, 206, 0.432);
	top:50px;
}
.class_1 .class_2{
	position:absolute;
	width:150px;
	left:150px;
	border:1px solid #222;
	background-color:#222;
	color:white;
	top:-1px;
	display:none;
}
@keyframes slideout {
    from {margin-left: -30%;}

	to { margin-left: 0%;}
}
@keyframes slidein 
{
    from {margin-left: 0%;}

	to { margin-left: -50%;}
}

